@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(228, 85%, 63%);
    --title-color: hsl(228, 18%, 16%);
    --text-color: hsl(228, 8%, 56%);
    --body-color: hsl(228, 100%, 99%);
    --shadow-color: hsla(228, 80%, 4%, 0.1);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Nunito Sans", system-ui;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

.dark-th {
    background-color: hsla(228, 80%, 4%, 0.3) !important;
}

.container_allergy {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .container_table_allergy {
        display: flex;
        gap: 40px;
        & > * {
            width: calc(50% - 20px);
        }
        .create_allergies {
            & > h2 {
                padding-bottom: 30px;
                color: var(--first-color);
            }

            .form-floating {
                & > #name {
                    color: var(--first-color);
                    border: 3px solid var(--first-color);
                    font-weight: var(--font-semi-bold);

                    outline: 0;

                    &:focus {
                        box-shadow: 0 0 0 0.25rem hsla(228, 85%, 63%, 0.5);
                    }
                }
                & > .form-label {
                    color: var(--first-color);
                    font-weight: var(--font-semi-bold);
                }
            }

            .container_button {
                .btn {
                    color: white;
                    background-color: var(--first-color);
                    border: 0;

                    &:hover {
                        background-color: hsla(228, 85%, 63%, 0.5);
                    }
                }
            }
        }
        .table {
            border: 1px solid var(--first-color);
        }
    }
}

.alert_error {
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgba(222, 117, 117, 0.448);
    border: 2px solid red;
    border-radius: 10px;

    & > ul {
        margin: 0;

        & > li {
            color: red;
        }
    }
}

.session_success {
    margin-bottom: 40px;
    padding: 20px;
    border: 2px solid #008000;
    background-color: #00800078;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.4s ease-in-out;

    & > i {
        font-size: 20px;
        color: #008000;
        font-weight: var(--font-semi-bold);
        cursor: pointer;
    }

    & > .left_session {
        font-size: 20px;
        color: #008000;
        font-weight: var(--font-semi-bold);
    }
}
