:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(228, 85%, 63%);
    --modify-color: hsl(39, 100%, 50%);
    --title-color: hsl(228, 18%, 16%);
    --text-color: hsl(228, 8%, 56%);
    --body-color: hsl(228, 100%, 99%);
    --shadow-color: hsla(228, 80%, 4%, 0.1);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Nunito Sans", system-ui;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
body.dark-theme {
    --first-color: hsl(228, 70%, 63%);
    --title-color: hsl(228, 18%, 96%);
    --text-color: hsl(228, 12%, 61%);
    --body-color: hsl(228, 24%, 16%);
    --shadow-color: hsla(228, 80%, 4%, 0.3);
}

#container_credential {
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & > .container_login {
        width: 95%;
        max-width: 500px;
        margin: auto;
        background-color: var(--body-color);
        padding: 30px;
        border-radius: 20px;
        border: 0;
        box-shadow: 4px 4px 10px var(--shadow-color);
        position: relative;

        .header_login {
            & > h2 {
                color: var(--first-color);
                text-align: center;
                margin-bottom: 30px;
                font-weight: var(--font-semi-bold);
            }

            & > i {
                position: absolute;
                top: 20px;
                right: 20px;
                color: var(--first-color);
                font-size: 22px;
                cursor: pointer;
            }
        }

        & > .login {
            width: 100%;
            max-width: 320px;
            margin: auto;
            & > .login_field {
                border-bottom: 2px solid var(--first-color);

                position: relative;

                margin: 0 auto 30px;
                & > .login_icon:first-child {
                    color: var(--first-color);
                    position: absolute;
                    top: 15px;
                    left: 12px;
                }
                & > .login_icon:last-child,
                & > .showPassword {
                    color: var(--first-color);
                    position: absolute;
                    top: 15px;
                    right: 12px;
                    cursor: pointer;
                }

                & > input {
                    padding: 10px 30px;
                    width: 100%;
                    border: 0;
                    outline: 0;
                    background-color: var(--body-color);
                    color: var(--first-color);

                    &::placeholder {
                        color: var(--first-color);
                    }
                }
            }
        }

        .form_check {
            margin-bottom: 20px;
            color: var(--first-color);
            & > .form-check-input {
                cursor: pointer;
                &:checked {
                    background-color: var(--first-color);
                    box-shadow: 0 0 0 0.25rem hsla(228, 85%, 63%, 0.5);
                }
            }
        }

        .social-login {
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
            & > a {
                color: var(--first-color);

                &:hover {
                    color: var(--text-color);
                }
            }
        }

        .login_submit {
            background-color: var(--first-color);
            color: var(--body-color);
            & > span {
                padding-right: 5px;
            }

            &:hover {
                background-color: hsla(228, 85%, 63%, 0.5);
            }
        }
    }
}
